/* Para que todo se alinie correctamente en el Navbar */
.Navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.Submenu-usuario {
    display: flex;
    flex-direction: row;
}

.Link-navbar {
    text-decoration: none;
    color: #dc0032;
    padding: 10px;
}

.Link-navbar:hover {
    background-color: #dc0032;
    color:white;
}