.Content {
  width: calc(100% - 250px);
  height: calc(100% - 70px);
  background: var(--nextui-colors-headerBackground);
  /* background-color: tomato; */
  margin-left: 250px;
  margin-top: 70px;
  padding: 20px;
  overflow-y: scroll;
}

.Content::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #e3e3e3;
}

.Content::-webkit-scrollbar
{
	width: 8px;
	background-color: #fff;
}

.Content::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #808080;
}

@media screen and (max-width: 768px) {
  .Content {
    width: calc(100% - 60px);
    margin-left: 60px;
  }
}