.Navbar {
  background: var(--nextui-colors-headerBackground);
  /* background: wheat; */
  /* backdrop-filter: saturate(180%) blur(10px); */
  /* box-shadow: rgb(2 1 1 / 10%) 0px 5px 20px -5px; */
  border-bottom: 1px solid #808080;
  width: calc(100% - 250px);
  position: fixed;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: 250px;
  padding-right: 20px;
}

.Navbar__icon {
  color: gray;
  font-size: 22px;
  margin-right: 10px;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Navbar__icon::after {
  content: "";
  position: absolute;
  top: 3px;
  right: 3px;
  width: 8px;
  height: 8px;
  border: 2px solid gray;
  background-color: red;
  border-radius: 50%;
  border-top: 5px solid var(--nextui-colors-headerBackground);
}

.Navbar__btnSm {
  display: none;
}

@media screen and (max-width: 768px) {
  .Navbar {
    width: calc(100% - 60px);
    margin-left: 60px;
  }

  .Navbar__btn {
    display: none;
  }

  .Navbar__btnSm {
    display: block;
  }

}