.Application {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.user {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.userImage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  width: 150px;
}

.userInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.chart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  align-items: center;
}

.center__center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
}